# Project 4
______

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Cleaning Dataset
____

In [5]:
covid = pd.read_csv('../data/COVID/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
covid.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,01/25/2020,OR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
1,09/17/2021,MD,"516,784",NaN,NaN,"1,525",0,"10,282","10,056",226,11,0,09/19/2021 12:00:00 AM,NaN,Agree
2,10/12/2021,VT,"33,388",NaN,NaN,112,5,333,NaN,NaN,4,0,10/14/2021 12:00:00 AM,Not agree,Not agree
3,02/01/2021,DC,"37,008",NaN,NaN,136,0,916,NaN,NaN,3,0,02/02/2021 02:51:51 PM,NaN,NaN
4,12/19/2021,NC,"1,586,243","1,339,055","247,188","3,410",466,"19,480","17,148","2,332",19,3,12/19/2021 12:00:00 AM,Agree,Agree